extends includes/layout.pug

block vars
    - var title = 'Доминион Синема | Главная'
    - var pageClass = 'page-index'
    - var showBreadcrumb = false
    - var fullSize = true
    - var showFooterMap = true

block content

    .index-slider__container
        .index-slider
            a.slide.index-slider__slide(href='#')
                .slide__background(style="background: url(images/slide--1.png);")

            a.slide.index-slider__slide(href='#')
                .slide__background(style="background: url(images/slide--1.png);")

            a.slide.index-slider__slide(href='#')
                .slide__background(style="background: url(images/slide--1.png);")

    .container

        .select-day-block
            span.select-day-block__label В кино
            a.select-day-block__link(href='#') сегодня <i class="fas fa-caret-down"></i>

            a.btn.btn-site-primary.btn-site-primary--schedule-link(href='schedule-halls.html') Расписание

        .row
            .col-24.col-md-12
                .featured-movie
                    .featured-movie__poster
                        img.featured-movie__poster-image(src='../images/movies-1.png')
                    .featured-movie__title Соник в кино
                    .featured-movie__genre Анимация, Комедия, Приключения 6+
                    .featured-movie__announce Головокружительное комедийное экшн-приключение, в центре которого – культовый герой: отвязный ярко-синий ежик Соник. Вместе с новообретенным – человеческим – лучшим другом Томом Вачовски он знакомится со сложностями жизни на Земле и противостоит злодейскому доктору Роботнику, который хочет пленить Соника и использовать его безграничные суперсилы для завоевания мирового господства. «Соник в кино» основан на всемирно известной видеоигре от Sega.
                    .featured-movie__buttons
                        a.btn.btn-site-primary.featured-movie__button-trailer <i class="far fa-play"></i> Трейлер
                        a.btn.btn-site-primary.featured-movie__button-more Подробнее <i class="far fa-arrow-right"></i>
            .col-24.col-md-12
                .row
                    .col-24.col-sm-12
                        a.movie(href='#')
                            .movie__poster
                                img.movie__poster-image(src='../images/movies-2.jpg')
                            .movie__title Зомбилэнд: контрольный выстрел
                            .movie__genre Ужасы, триллер, комедия  18+
                    .col-24.col-sm-12
                        a.movie(href='#')
                            .movie__poster
                                img.movie__poster-image(src='../images/movies-3.png')
                            .movie__title 1 + 1
                            .movie__genre Драма, комедия  16+
                    .col-24.col-sm-12
                        a.movie(href='#')
                            .movie__poster
                                img.movie__poster-image(src='../images/movies-4.png')
                            .movie__title Начало
                            .movie__genre Фантастика, боевик, триллер  12+
                    .col-24.col-sm-12
                        a.movie(href='#')
                            .movie__poster
                                img.movie__poster-image(src='../images/movies-5.png')
                            .movie__title Король лев
                            .movie__genre Мультфильм, мюзикл, драма  0+
                    .col-24.col-sm-12
                        a.movie(href='#')
                            .movie__poster
                                img.movie__poster-image(src='../images/movies-6.png')
                            .movie__title Валл-и
                            .movie__genre Мультфильм, фантастика  0+
                    .col-24.col-sm-12
                        a.movie(href='#')
                            .movie__poster
                                img.movie__poster-image(src='../images/movies-7.png')
                            .movie__title Интерстеллар
                            .movie__genre Фантастика, драма  12+