extends includes/layout.pug

block vars
    - var title = 'Котофей | Новости'
    - var pageTitle = 'Новости'
    - var pageClass = 'page-news'
    - var showBreadcrumb = false
    - var showTitle = true

block content
    .news-column
        .news-column__single-item
            .news-column__date 19.04.2019
            a.news-column__title(href='#') Самовывоз
            .news-column__content Уважаемые клиенты, заказы оформленные самовывозом выдаются  с 10 по 31 апреля  по пятницам с 10 до 18 ч. Как проехать к нам можно посмотреть в разделе Контакты , по карте.
        .news-column__single-item
            .news-column__date 19.04.2019
            a.news-column__title(href='#') Прием заказов на весну 2018 г закончен
            .news-column__content Для того, чтобы вырастить плодовое дерево понравившегося вам сорта нужно два основных условия. Первое – приобрести живой саженец. Второе – сорт должен соответствовать действительности. Дальнейшая судьба саженца полностью зависит от вас. Какие вы ему создадите условия, так он и будет жить. При покупке саженцев...
        .news-column__single-item
            .news-column__date 19.04.2019
            a.news-column__title(href='#') Новинки в каталогах
            .news-column__content Обновлены каталоги на семена томатов и бахчи, есть новинки, которые хорошо себя зарекомендовали в нашем сибирском климате. В каталоге черенков много сортов абрикоса, что бывает не каждый год. На нашем канале появилось новое видео по новинкам бахчи и томатам.
        .news-column__single-item
            .news-column__date 19.04.2019
            a.news-column__title(href='#') Весенняя реализация саженцев
            .news-column__content С 20 апреля начинаем весеннюю продажу саженцев, приглашаем на сельхозрынок ипподрома в г Абакан ,ул Жукова 46  и на республиканский рынок г Абакан ул Тельмана 92.  с 10 до 16 ч, выходной понедельник. Цены на рынке могут отличаться от цен представленных на сайте
        .news-column__single-item
            .news-column__date 19.04.2019
            a.news-column__title(href='#') Каталог черенков доступен на сайте
            .news-column__content Уважаемые садоводы, мы заготовили черенки и в этом году можем предложить вам черенки абрикоса, сливы, груши и яблони. Заказы принимаем до 20 марта, рассылка с 25 марта. Почтовые расходы 300 руб на любое количество черенков.
        .news-column__single-item
            .news-column__date 19.04.2019
            a.news-column__title(href='#') Отправка заказов
            .news-column__content Уважаемые клиенты, заказы на осень 2017 года отправлены. Почтовый идентификатор своей посылки Вы можете посмотреть в личном кабинете. При отправке смс сообщение произошел сбой, программисты обещают устранить в ближайшее время
        .news-column__single-item
            .news-column__date 19.04.2019
            a.news-column__title(href='#') Ярмарка
            .news-column__content 23 сентября в Абакане на ипподроме будет реализация саженцев абрикоса, сливы, яблони, груши, персика. Большой зелёный банер с надписью КФХ Абрикос. Ждем Вас с 10 до 14 ч. Напоминаем, что на рынке цена саженцев выше чем на сайте
        .news-column__single-item
            .news-column__date 19.04.2019
            a.news-column__title(href='#') Продление сроков приёмов заказов
            .news-column__content Прием заказов на саженцы с рассылкой осенью 2017 г продлен до 15 сентября.

    nav.pagen.m-4
        a.prev(href="/")
        a.page(href="/") 1
        a.page.active(href="/") 2
        a.page(href="/") 3
        a.page(href="/") 4
        a.page(href="/") ...
        a.page(href="/") 12
        a.next(href="/")