extends includes/layout.pug

block vars
    - var title = 'Доминион Синема | Премьеры'
    - var pageTitle = 'Премьеры'
    - var pageClass = 'page-premiers'
    - var showBreadcrumb = false
    - var showTitle = true

block content
    .row
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-2.jpg')
                .movie__title Зомбилэнд: контрольный выстрел
                .movie__genre Ужасы, триллер, комедия  18+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-3.png')
                .movie__title 1 + 1
                .movie__genre Драма, комедия  16+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-4.png')
                .movie__title Начало
                .movie__genre Фантастика, боевик, триллер  12+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-5.png')
                .movie__title Король лев
                .movie__genre Мультфильм, мюзикл, драма  0+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-6.png')
                .movie__title Валл-и
                .movie__genre Мультфильм, фантастика  0+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-7.png')
                .movie__title Интерстеллар
                .movie__genre Фантастика, драма  12+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-2.jpg')
                .movie__title Зомбилэнд: контрольный выстрел
                .movie__genre Ужасы, триллер, комедия  18+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-3.png')
                .movie__title 1 + 1
                .movie__genre Драма, комедия  16+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-4.png')
                .movie__title Начало
                .movie__genre Фантастика, боевик, триллер  12+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-5.png')
                .movie__title Король лев
                .movie__genre Мультфильм, мюзикл, драма  0+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-6.png')
                .movie__title Валл-и
                .movie__genre Мультфильм, фантастика  0+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-7.png')
                .movie__title Интерстеллар
                .movie__genre Фантастика, драма  12+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-6.png')
                .movie__title Валл-и
                .movie__genre Мультфильм, фантастика  0+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-7.png')
                .movie__title Интерстеллар
                .movie__genre Фантастика, драма  12+