extends includes/layout.pug

block vars
    - var title = 'Доминион Синема | Премьеры'
    - var pageTitle = 'Премьеры'
    - var pageClass = 'page-premiers'
    - var showBreadcrumb = false
    - var showTitle = true

block content
    .row
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-2.jpg')
                    .movie__start-date
                        .movie-start-date-inner
                            .movie__start-date-day 24
                            .movie__start-date-month октября
                .movie__title Зомбилэнд: контрольный выстрел
                .movie__genre Ужасы, триллер, комедия  18+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-3.png')
                    .movie__start-date
                        .movie-start-date-inner
                            .movie__start-date-day 26
                            .movie__start-date-month апреля
                .movie__title 1 + 1
                .movie__genre Драма, комедия  16+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-4.png')
                    .movie__start-date
                        .movie-start-date-inner
                            .movie__start-date-day 10
                            .movie__start-date-month июля
                .movie__title Начало
                .movie__genre Фантастика, боевик, триллер  12+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-5.png')
                    .movie__start-date
                        .movie-start-date-inner
                            .movie__start-date-day 25
                            .movie__start-date-month декабря
                .movie__title Король лев
                .movie__genre Мультфильм, мюзикл, драма  0+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-6.png')
                    .movie__start-date
                        .movie-start-date-inner
                            .movie__start-date-day 14
                            .movie__start-date-month августа
                .movie__title Валл-и
                .movie__genre Мультфильм, фантастика  0+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-7.png')
                    .movie__start-date
                        .movie-start-date-inner
                            .movie__start-date-day 9
                            .movie__start-date-month февраля
                .movie__title Интерстеллар
                .movie__genre Фантастика, драма  12+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-2.jpg')
                    .movie__start-date
                        .movie-start-date-inner
                            .movie__start-date-day 20
                            .movie__start-date-month мая
                .movie__title Зомбилэнд: контрольный выстрел
                .movie__genre Ужасы, триллер, комедия  18+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-3.png')
                    .movie__start-date
                        .movie-start-date-inner
                            .movie__start-date-day 26
                            .movie__start-date-month июля
                .movie__title 1 + 1
                .movie__genre Драма, комедия  16+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-4.png')
                    .movie__start-date
                        .movie-start-date-inner
                            .movie__start-date-day 26
                            .movie__start-date-month апреля
                .movie__title Начало
                .movie__genre Фантастика, боевик, триллер  12+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-5.png')
                .movie__title Король лев
                .movie__genre Мультфильм, мюзикл, драма  0+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-6.png')
                .movie__title Валл-и
                .movie__genre Мультфильм, фантастика  0+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-7.png')
                .movie__title Интерстеллар
                .movie__genre Фантастика, драма  12+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-6.png')
                .movie__title Валл-и
                .movie__genre Мультфильм, фантастика  0+
        .col-6
            a.movie(href='#')
                .movie__poster
                    img.movie__poster-image(src='images/movies-7.png')
                .movie__title Интерстеллар
                .movie__genre Фантастика, драма  12+