extends includes/layout.pug

block vars
    - var title = 'Доминион Синема | Расписание'
    - var pageTitle = 'Расписание сеансов'
    - var pageClass = 'page-schedule'
    - var showBreadcrumb = false
    - var showTitle = true
    - var showTypeSwitch = true
    - var showScheduleDays = true

block content
    .schedule-halls
        .schedule-halls__single-item
            .row
                .col-24.col-lg-6
                    a.schedule-halls__movie(href='#')
                        .schedule-halls__movie-poster
                            img.schedule-halls__movie-poster-image(src='../images/movies-2.jpg')
                        .schedule-halls__movie-title Зомбилэнд: контрольный выстрел
                        .schedule-halls__movie-genre Ужасы, триллер, комедия  18+
                .col-24.col-lg-18
                    .schedule-halls__hall-item
                        .row
                            .col-24.col-lg-3
                                .schedule-halls__hall
                                    .schedule-halls__hall-label Зал
                                    .schedule-halls__hall-name Comfort
                            .col-24.col-lg-21
                                .schedule-halls__sessions
                                    .row
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:10
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:20
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:25
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:45
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:55
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 14:30
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 15:10
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 15:40
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 16:15
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 19:10
                                                .schedule-halls__session-info Зал 3
                                    
                    .schedule-halls__hall-item
                        .row
                            .col-24.col-lg-3
                                .schedule-halls__hall
                                    .schedule-halls__hall-label Зал
                                    .schedule-halls__hall-name Atmos
                            .col-24.col-lg-21
                                .schedule-halls__sessions
                                    .row
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:10
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:20
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:25
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 2

                    .schedule-halls__hall-item
                        .row
                            .col-24.col-lg-3
                                .schedule-halls__hall
                                    .schedule-halls__hall-label Зал
                                    .schedule-halls__hall-name VIP
                            .col-24.col-lg-21
                                .schedule-halls__sessions
                                    .row
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:10
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:20
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:25
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 2

        .schedule-halls__single-item
            .row
                .col-24.col-lg-6
                    a.schedule-halls__movie(href='#')
                        .schedule-halls__movie-poster
                            img.schedule-halls__movie-poster-image(src='../images/movies-3.png')
                        .schedule-halls__movie-title 1 + 1
                        .schedule-halls__movie-genre Драма, комедия  16+
                .col-24.col-lg-18
                    .schedule-halls__hall-item
                        .row
                            .col-24.col-lg-3
                                .schedule-halls__hall
                                    .schedule-halls__hall-label Зал
                                    .schedule-halls__hall-name Comfort
                            .col-24.col-lg-21
                                .schedule-halls__sessions
                                    .row
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:10
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:20
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:25
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:45
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:55
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 14:30
                                                .schedule-halls__session-info Зал 2                                    
                    .schedule-halls__hall-item
                        .row
                            .col-24.col-lg-3
                                .schedule-halls__hall
                                    .schedule-halls__hall-label Зал
                                    .schedule-halls__hall-name Atmos
                            .col-24.col-lg-21
                                .schedule-halls__sessions
                                    .row
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:10
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:20
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 2

                    .schedule-halls__hall-item
                        .row
                            .col-24.col-lg-3
                                .schedule-halls__hall
                                    .schedule-halls__hall-label Зал
                                    .schedule-halls__hall-name VIP
                            .col-24.col-lg-21
                                .schedule-halls__sessions
                                    .row
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:10
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:20
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:25
                                                .schedule-halls__session-info Зал 1

        .schedule-halls__single-item
            .row
                .col-24.col-lg-6
                    a.schedule-halls__movie(href='#')
                        .schedule-halls__movie-poster
                            img.schedule-halls__movie-poster-image(src='../images/movies-5.png')
                        .schedule-halls__movie-title Король лев
                        .schedule-halls__movie-genre Мультфильм, мюзикл, драма  0+
                .col-24.col-lg-18
                    .schedule-halls__hall-item
                        .row
                            .col-24.col-lg-3
                                .schedule-halls__hall
                                    .schedule-halls__hall-label Зал
                                    .schedule-halls__hall-name Comfort
                            .col-24.col-lg-21
                                .schedule-halls__sessions
                                    .row
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:10
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:20
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:25
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:45
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:55
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 14:30
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 15:10
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 15:40
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 16:15
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 19:10
                                                .schedule-halls__session-info Зал 3
                                    
                    .schedule-halls__hall-item
                        .row
                            .col-24.col-lg-3
                                .schedule-halls__hall
                                    .schedule-halls__hall-label Зал
                                    .schedule-halls__hall-name Atmos
                            .col-24.col-lg-21
                                .schedule-halls__sessions
                                    .row
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:10
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:20
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:25
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 2

                    .schedule-halls__hall-item
                        .row
                            .col-24.col-lg-3
                                .schedule-halls__hall
                                    .schedule-halls__hall-label Зал
                                    .schedule-halls__hall-name VIP
                            .col-24.col-lg-21
                                .schedule-halls__sessions
                                    .row
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:10
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:20
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:25
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 2

        .schedule-halls__single-item
            .row
                .col-24.col-lg-6
                    a.schedule-halls__movie(href='#')
                        .schedule-halls__movie-poster
                            img.schedule-halls__movie-poster-image(src='../images/movies-7.png')
                        .schedule-halls__movie-title Интерстеллар
                        .schedule-halls__movie-genre Фантастика, драма  12+
                .col-24.col-lg-18
                    .schedule-halls__hall-item
                        .row
                            .col-24.col-lg-3
                                .schedule-halls__hall
                                    .schedule-halls__hall-label Зал
                                    .schedule-halls__hall-name Comfort
                            .col-24.col-lg-21
                                .schedule-halls__sessions
                                    .row
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:10
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:20
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:25
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:45
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:55
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 14:30
                                                .schedule-halls__session-info Зал 2

                    .schedule-halls__hall-item
                        .row
                            .col-24.col-lg-3
                                .schedule-halls__hall
                                    .schedule-halls__hall-label Зал
                                    .schedule-halls__hall-name VIP
                            .col-24.col-lg-21
                                .schedule-halls__sessions
                                    .row
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:10
                                                .schedule-halls__session-info Зал VIP
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 11:30
                                                .schedule-halls__session-info Зал VIP

        .schedule-halls__single-item
            .row
                .col-24.col-lg-6
                    a.schedule-halls__movie(href='#')
                        .schedule-halls__movie-poster
                            img.schedule-halls__movie-poster-image(src='../images/movies-6.png')
                        .schedule-halls__movie-title Валл-и
                        .schedule-halls__movie-genre Мультфильм, фантастика  0+
                .col-24.col-lg-18
                    .schedule-halls__hall-item
                        .row
                            .col-24.col-lg-3
                                .schedule-halls__hall
                                    .schedule-halls__hall-label Зал
                                    .schedule-halls__hall-name Comfort
                            .col-24.col-lg-21
                                .schedule-halls__sessions
                                    .row
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:10
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:20
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:25
                                                .schedule-halls__session-info Зал 1
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:40
                                                .schedule-halls__session-info Зал 3
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:10
                                                .schedule-halls__session-info Зал 2
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 10:45
                                                .schedule-halls__session-info Зал 1

                    .schedule-halls__hall-item
                        .row
                            .col-24.col-lg-3
                                .schedule-halls__hall
                                    .schedule-halls__hall-label Зал
                                    .schedule-halls__hall-name Atmos
                            .col-24.col-lg-21
                                .schedule-halls__sessions
                                    .row
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 09:10
                                                .schedule-halls__session-info DolbyAtmos 3D
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 12:30
                                                .schedule-halls__session-info 3D
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 11:45
                                                .schedule-halls__session-info 3D
                                        .col-3
                                            .schedule-halls__session
                                                a.schedule-halls__session-link(href='#') 13:25
                                                .schedule-halls__session-info 2D